/*CSS that applies/is used across all screens.*/

/*remove default margins*/
body, html, .backGround {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.backGround {
    background-color: #2E2B3D;
}

.interactive {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

    .interactive:hover {
        box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
    }

    .interactive:active {
        box-shadow: inset 2px 2px 3px rgba(0,0,0,0.6);
    }